*Челлендж {{md .Num}} - {{md .Theme}}*

Свежие фото присылайте в чат с {{md .StartDate}}:
- до вечера {{md .EndWeekday}}, {{md .EndDate}};
- на конкурс идет одна актуальная фотография от участника;
- если прислать новую фотографию с тегом челленджа, она заменит старую;
- фото должно быть сделано в промежутке с {{md .StartDate}} по {{md .EndDate}};
- под фото для конкурса пишите тег {{md .Hashtag}}

Тема трактуется свободно, но:
- без животных;
- без нюдсов;
- без жестокости.

В конце пришлю форму для голосования. Победитель получит ачивку в клубе, а фоточка отправится на обложку чата.
