Челлендж «{{md .Theme}}» закончился. На голосование ушло {{.AmountPhoto}} фото.

Смотрим работы и голосуем [вот тут]({{mdLinkURL .VoteLink}}). Голосовать можно за несколько фото.

Победитель получит ачивку в Клубе, а его фото станет обложкой чата.

Итоги подведу {{md .ResultsDate}}.

До окончания голосования предлагайте новые темы с тегом #тема
