Закончился челлендж {{md .Theme}}: {{.AmountPhoto}} фоток ушло на голосование.

Рассматриваем работы и голосуем [вот тут]({{mdLinkURL .VoteLink}})
Голосовать можно за несколько фоток.

Победитель получит ачивку в клубе, а фоточка отправится на обложку чата.

Итоги подведу {{md .ResultsDate}}.

До окончания голосования предлагайте новые темы с тегом #тема
